<%= form_for(@classtable) do |f| %>
  <% if @classtable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classtable.errors.count, "error") %> prohibited this classtable from being saved:</h2>

      <ul>
      <% @classtable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <span><%= f.label :class_no %></span>
    <span><%= f.number_field :class_no %></span>
  </div>
  <div class="field">
    <span><%= f.label :gen_seats %></span>
    <span><%= f.number_field :gen_seats %></span>
  </div>
  <div class="field">
    <span><%= f.label :obc_seats %></span>
    <span><%= f.number_field :obc_seats %></span>
  </div>
  <div class="field">
    <span><%= f.label :sc_seats %></span>
    <span><%= f.number_field :sc_seats %></span>
  </div>
  <div class="field">
    <span><%= f.label :st_seats %></span>
    <span><%= f.number_field :st_seats %></span>
  </div>
  <div class="field">
    <span><%= f.label :other_seats %></span>
    <span><%= f.number_field :other_seats %></span>
  </div>
  <div class="actions">
    <span><%= f.submit %></span>
  </div>
<% end %>
