<div class="header-bg">
	<div class="wrap"> 
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li><a href="/">Home</a></li>
						    	<li><a href="/about.html">About Us</a></li>
						      	<li class="active"><a href="/schools">All Schools</a></li>
						    	<li><a href="/contact.html">Contact Us</a></li>
						    	
			     			
												<% if current_user %>
							Logged in as <%= current_user.username %>.
							<li><%= link_to "Sign Out", signed_out_path %></li>
							<li><%= link_to "Account Settings", account_settings_path %></li>
							  <% if current_user.is_admin %>
								  <li><%= link_to "Admin", admin_users_path %></li>
							  <% end %>
						<% else %>
							<li><%= link_to "Sign up", new_user_path %></li> 
							<li><%= link_to "Sign In", sign_in_path %></li>
						<% end %>
						<div class="clear"></div>
						</ul>
				     	</div>
					
				   
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						<h1>H.O.P.E</h1>
						<h3>Harnessing Opportunities for Pursuing Education</h3>
					 </div>
					 	
					<div class="search">
						 <form action="/schools" method="get">
								<input id="search" name="search" placeholder="School Name/Location" type="text" />
								<input name="commit" type="submit" value="" />
						   </form>
					</div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>
	<div class="banner-box">
		<div class="wrap">
			<div class="main-top">
				<div class="main">
			    <div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Listing different class table information</h3>
						<div>
							<table border="1">
							  <tr>
								<!--<th>School</th>-->
								<th>Class No.</th>
								<th>GEN Seats</th>
								<th>OBC Seats</th>
								<th>SC Seats</th>
								<th>ST Seats</th>
								<th>Others Seats</th>
								<!--<th></th>-->
								<% if current_user %>
									<th></th>
									<th></th>
								<% end %>
							  </tr>

							<% @classtables.each do |classtable| %>
							  <tr>
								<!--<td><%= classtable.school_id %></td>-->
								<td><%= classtable.class_no %></td>
								<td><%= classtable.gen_seats %></td>
								<td><%= classtable.obc_seats %></td>
								<td><%= classtable.sc_seats %></td>
								<td><%= classtable.st_seats %></td>
								<td><%= classtable.other_seats %></td>
								<!--<td><%= link_to 'Show', classtable %></td>-->
								<% if current_user %>
									<td><%= link_to 'Edit', edit_classtable_path(classtable) %></td>
									<td><%= link_to 'Destroy', classtable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								<% end %>
							  </tr>
							<% end %>
							</table>

							<br />

							<% if current_user %>
							<div>
								<span><%= link_to 'New Classtable', new_classtable_path %></span>
							</div>
							<% end %>							
						</div>	
				  </div>
  				</div>
				
			</div>
		</div>
		
				<div class="clear"></div> 
				
			</div>
			</div>
		</div>
	 </div>   

    </div>
