<!--
<p>Forgot Password</p>
<%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f| %>
    <p>
      <%= f.label 'username or email:' %><br/>
      <%= f.text_field :username %>
      <%= show_field_error(@user, :username) %>
    </p>
    <p>
      <%= f.submit 'Send Password Reset Instructions' %>
    </p>
<% end %>
-->

<div class="header-bg">
	<div class="wrap"> 
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li><a href="index.html">Home</a></li>
						    	<li><a href="about.html">About</a></li>
						      	<li><a href="allschool.html">All School</a></li>
						    	<li><a href="contact.html">Contact</a></li>
								
						    	<div class="clear"></div>
			     			</ul>
				     	</div>
				     	<!--ul class="follow_icon">
							<li><a href="#" style="opacity: 1;"><img src="/assets/fb.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="/assets/tw.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="/assets/rss.png" alt=""></a></li>
						</ul-->
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						
					 </div>
					<div class="search">
						 <form action="/schools" method="get">
								<input id="search" name="search" placeholder="School Name/Location" type="text" />
								<input name="commit" type="submit" value="" />
						   </form>
					</div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>
	<div class="banner-box">
		<div class="wrap">
			<div class="main-top">
				<div class="main">
			    <div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Forgot Password</h3>
					    <%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f| %>
							<div>
							  <span><%= f.label 'username or email:' %></span>
							  <span><%= f.text_field :username %></span>
							  <%= show_field_error(@user, :username) %>
							<div>
							<div>
							  <span><%= f.submit 'Send Password Reset Instructions' %></span>
							<div>
						<% end %>
				  </div>
  				</div>
				
			</div>
		</div>
		
				<div class="clear"></div> 
				
			</div>
			</div>
		</div>
	 </div>   

    </div>