<!--
<p>Account Settings</p>
<%= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f| %>
    <p>
      <%= @user.username  %> has requested a password reset.  Please enter your new password:
    </p>
    <p>
      <%= f.label 'new password:' %><br/>
      <%= f.password_field :new_password %>
      <%= show_field_error(@user, :new_password) %>
    </p>
    <p>
      <%= f.hidden_field :username %>
      <%= f.label 'password confirmation:' %><br/>
      <%= f.password_field :new_password_confirmation %>
      <%= show_field_error(@user, :new_password_confirmation) %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>
-->

<div class="header-bg">
	<div class="wrap"> 
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li><a href="index.html">Home</a></li>
						    	<li><a href="about.html">About</a></li>
						      	<li><a href="allschool.html">All School</a></li>
						    	<li><a href="contact.html">Contact</a></li>
								
						    	<div class="clear"></div>
			     			</ul>
				     	</div>
				     	<!--ul class="follow_icon">
							<li><a href="#" style="opacity: 1;"><img src="/assets/fb.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="/assets/tw.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="/assets/rss.png" alt=""></a></li>
						</ul-->
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						
					 </div>
					<div class="search">
						 <form action="/schools" method="get">
								<input id="search" name="search" placeholder="School Name/Location" type="text" />
								<input name="commit" type="submit" value="" />
						   </form>
					</div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>
	<div class="banner-box">
		<div class="wrap">
			<div class="main-top">
				<div class="main">
			    <div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Password Reset</h3>
					    <%= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f| %>
							<div>
								<span><%= @user.username  %> has requested a password reset.  Please enter your new password: </span>
							</div>
							<div>
								<span><%= f.label 'new password:' %></span>
								<span><%= f.password_field :new_password %></span>
								<%= show_field_error(@user, :new_password) %>
							<div>
							<div>
								<%= f.hidden_field :username %>
								<span><%= f.label 'password confirmation:' %></span>
								<span><%= f.password_field :new_password_confirmation %></span>
								<%= show_field_error(@user, :new_password_confirmation) %>
							</div>
							<div>
							  <span><%= f.submit 'Update' %></span>
							<div>
						<% end %>
				  </div>
  				</div>
				
			</div>
		</div>
		
				<div class="clear"></div> 
				
			</div>
			</div>
		</div>
	 </div>   

    </div>
