<!--<p>Thank you for visiting.</p>-->
				

<div class="header-bg">
	<div class="wrap"> 
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li class="active"><a href="index.html">Home</a></li>
						    	<li><a href="about.html">About</a></li>
						      	<li><a href="allschool.html">All School</a></li>
						    	<li><a href="contact.html">Contact</a></li>
								<% if current_user %>
									Logged in as <%= current_user.username %>.
									<li><%= link_to "Sign Out", signed_out_path %></li>
									<li><%= link_to "Account Settings", account_settings_path %></li>
									  <% if current_user.is_admin %>
										  <li><%= link_to "Admin", admin_users_path %></li>
									  <% end %>
								<% else %>
									<li><%= link_to "Sign up", new_user_path %></li> or
									<li><%= link_to "Sign In", sign_in_path %></li>
								<% end %>
								<div class="clear"></div>
							</ul>
				     	</div>
					
				     	
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						<h1>HOPE</h1>
					 </div>
					 	
					<div class="search">
						 <%= form_tag "/schools", :method => 'get' do %>
						  <p>
							<%= text_field_tag :search, params[:search], :placeholder => "School Name/Location"%>
							<%= submit_tag "", :school_name => nil %>
						  </p>
						<% end %>
					</div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>
	<div class="banner-box">
		<div class="wrap">
			<div class="main-top">
				<div class="main">
				<p class="desc"><strong>
				<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "desc" %>Thank you for visiting.</strong></p>
			
					
						<% end %>
						<div class="clear"></div> 
					</div>
				</div>
			</div>
		</div>
		
	</div>


    	
    	
            




