<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span><%= f.label :user_id %></span>
    <span><%= f.number_field :user_id %></span>
  </div>
  <div class="field">
    <span><%= f.label :reg_id %></span>
    <span><%= f.text_field :reg_id %></span>
  </div>
  <div class="field">
    <span><%= f.label :school_name %></span>
    <span><%= f.text_field :school_name %></span>
  </div>
  <div class="field">
    <span><%= f.label :address %></span>
    <span><%= f.text_area :address %></span>
  </div>
  <div class="field">
    <span><%= f.label :district %></span>
    <span><%= f.text_field :district %></span>
  </div>
  <div class="field">
    <span><%= f.label :state %></span>
    <span><%= f.text_field :state %></span>
  </div>
  <div class="field">
    <span><%= f.label :pin %></span>
    <span><%= f.number_field :pin %></span>
  </div>
  <div class="field">
    <span><%= f.label :phone %></span>
    <span><%= f.text_field :phone %></span>
  </div>
  <div class="field">
    <span><%= f.label :phone2 %></span>
    <span><%= f.text_field :phone2 %></span>
  </div>
  <div class="field">
    <span><%= f.label :email_id %></span>
    <span><%= f.text_field :email_id %></span>
  </div>
  <div class="field">
    <span><%= f.label :fax %></span>
    <span><%= f.text_field :fax %></span>
  </div>
  <div class="field">
    <span><%= f.label :latitude %></span>
    <span><%= f.text_field :latitude %></span>
  </div>
  <div class="field">
    <span><%= f.label :longitude %></span>
    <span><%= f.text_field :longitude %></span>
  </div>
  <div class="actions">
    <span><%= f.submit %></span>
  </div>
<% end %>
