<!--<h1>Listing schools</h1>
<div class="header-bg">
	<div class="wrap"> 
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li><a href="/">Home</a></li>
						    	<li><a href="about.html">About Us</a></li>
						      	<li class="active"><a href="/schools">All Schools</a></li>
						    	<li><a href="contact.html">Contact Us</a></li>
						    	
			     			
												<% if current_user %>
							Logged in as <%= current_user.username %>.
							<li><%= link_to "Sign Out", signed_out_path %></li>
							<li><%= link_to "Account Settings", account_settings_path %></li>
							  <% if current_user.is_admin %>
								  <li><%= link_to "Admin", admin_users_path %></li>
							  <% end %>
						<% else %>
							<li><%= link_to "Sign up", new_user_path %></li> or
							<li><%= link_to "Sign In", sign_in_path %></li>
						<% end %>
						<div class="clear"></div>
						</ul>
				     	</div>
					
				   
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						<h1>H.O.P.E</h1>
						<h3>Harnessing Opportunities for Pursuing Education</h3>
					 </div>
					 	
					<div class="search">
						 <form action="/schools" method="get">
								<input id="search" name="search" placeholder="School Name/Location" type="text" />
								<input name="commit" type="submit" value="" />
						   </form>
					</div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>

<table border="1">
  <tr>
    <th>Reg</th>
    <th>School name</th>
    <th>Address</th>
    <th>District</th>
    <th>State</th>
    <th>Pin</th>
    <th>Phone</th>
    <th>Phone2</th>
    <th>Email</th>
    <th>Fax</th>
    <th></th>
	<% if current_user %>
		<th></th>
		<th></th>
	<% end %>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= school.reg_id %></td>
    <td><%= school.school_name %></td>
    <td><%= school.address %></td>
    <td><%= school.district %></td>
    <td><%= school.state %></td>
    <td><%= school.pin %></td>
    <td><%= school.phone %></td>
    <td><%= school.phone2 %></td>
    <td><%= school.email_id %></td>
    <td><%= school.fax %></td>
    <td><%= link_to 'Show RTE info', school %></td>
	<% if current_user %>
		<td><%= link_to 'Edit', edit_school_path(school) %></td>
		<td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New School', new_school_path %>
-->
	
	
<div class="header-bg">
	<div class="wrap"> 
		<div class="total-box">
				<div class="total">
					<div class="header_top">
				     	<div class="menu">
				     		<ul>
						    	<li><a href="index.html">Home</a></li>
						    	<li><a href="about.html">About</a></li>
						      	<li class="active"><a href="allschool.html">All School</a></li>
						    	<li><a href="contact.html">Contact</a></li>
								
			     			
												<% if current_user %>
							Logged in as <%= current_user.username %>.
							<li><%= link_to "Sign Out", signed_out_path %></li>
							<li><%= link_to "Account Settings", account_settings_path %></li>
							  <% if current_user.is_admin %>
								  <li><%= link_to "Admin", admin_users_path %></li>
							  <% end %>
						<% else %>
							<li><%= link_to "Sign up", new_user_path %></li> 
							<li><%= link_to "Sign In", sign_in_path %></li>
						<% end %>
						    	<div class="clear"></div>
			     			</ul>
				     	</div>
				     	<!--ul class="follow_icon">
							<li><a href="#" style="opacity: 1;"><img src="/assets/fb.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="/assets/tw.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="/assets/rss.png" alt=""></a></li>
						</ul-->
		     			<div class="clear"></div>
		     	</div>
			     <div class="header-bottom">
					 <div class="logo">
						<h1>
							<% flash.each do |name, msg| %>
							<%= content_tag :div, msg, :id => "flash_#{name}" %>
							<% end %>
						</h1>
					 </div>
					<div class="search">
						 <form action="/schools" method="get">
								<input id="search" name="search" placeholder="School Name/Location" type="text" />
								<input name="commit" type="submit" value="" />
						   </form>
					</div>
					<div class="clear"></div> 
				</div>
			</div>	
		</div>
	 </div>
</div>
	<div class="banner-box">
		<div class="wrap">
			<div class="main-top">
				<div class="main">
			    <div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Listing schools</h3>
						<div>
							<table border="1">
							  <tr>
								<th>Reg</th>
								<th>School name</th>
								<th>Address</th>
								<th>District</th>
								<th>State</th>
								<th>Pin</th>
								<th>Phone</th>
								<th>Phone2</th>
								<th>Email</th>
								<th>Fax</th>
								<!--<th>Latitude</th>
								<th>Longitude</th>-->
								<th></th>
								<% if current_user %>
									<th></th>
									<th></th>
								<% end %>
							  </tr>

							<% @schools.each do |school| %>
							  <tr>
								<td><%= school.reg_id %></td>
								<td><%= school.school_name %></td>
								<td><%= school.address %></td>
								<td><%= school.district %></td>
								<td><%= school.state %></td>
								<td><%= school.pin %></td>
								<td><%= school.phone %></td>
								<td><%= school.phone2 %></td>
								<td><%= school.email_id %></td>
								<td><%= school.fax %></td>
								<!--<td><%= school.latitude %></td>
								<td><%= school.longitude %></td>-->
								<td><%= link_to 'RTE', school %></td>
								<% if current_user %>
									<td><%= link_to 'Edit', edit_school_path(school) %></td>
									<td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								<% end %>
							  </tr>
							<% end %>
							</table>

							<br />
							<div>
								<% if current_user %>
									<span><%= link_to 'New School', new_school_path %></span>
								<% end %>
							</div>	
						</div>	
				  </div>
  				</div>
				
			</div>
		</div>
		
				<div class="clear"></div> 
				
			</div>
			</div>
		</div>
	 </div>   

    </div>
